.chat-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-list__item {
  display: flex;
  gap: 1rem;
  padding: 0.75rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey);
  background-color: var(--light-blue);
}

.chat-list__item:last-child {
  border: none;
}

.chat-list__content-block {
  flex-grow: 1;
}

.chat-list__picture-block {
  width: 47px;
  height: 47px;
}

.chat-list__header {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.25rem;
}

.chat-list__message {
  font-size: 0.7rem;
  margin: 0;
  color: var(--dark-grey);
}

.chat-list__info {
  display: block;
  margin-bottom: 0.25rem;
  text-align: right;
  color: var(--dark-grey);
  font-size: 0.6rem;
}
