.sidebar {
  background-color: var(--light-grey);
  border-right: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
}

.sidebar__top-block {
  padding: 1rem 0.5rem;
  margin-left: auto;
}

.sidebar__link {
  display: flex;
  gap: 0.3rem;
  align-items: baseline;
  color: var(--dark-grey);
  text-decoration: none;
  font-size: 0.9em;
}

.sidebar__link:hover {
  color: var(--hover-grey);
}

.sidebar__link:hover svg path {
  stroke: var(--hover-grey);
}

.sidebar__plug {
  text-align: center;
  color: var(--dark-grey);
}
